<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogging about</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        <h1>it's a blog!</h1>
        <nav class="navbar">
            {{#if loggedIn}}
            <a href="/">homepage</a>
            <a href="/dashboard">dashboard</a>
            <a href="/dashboard/create/">write post</a>
            <button id="logout">logout</button>
            {{else}}
            <a href="/">homepage</a>
            <a href="/login">login</a>
            {{/if}}
        </nav>
    </header>
<div class="container"> 
            {{{ body }}}
</div>
    <footer>
        <div>
            <p>
            <a href="/">homepage</a>{{#if loggedIn}} | 
            <a href="/dashboard/">dashboard</a> | 
            <a href="/dashboard/create/">write post</a>
            {{else}}
             | <a href="/login/">login</a>
            {{/if}}
            </p>
        </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>